# Database Configuration
DATABASE_URL=

# Application Configuration
PORT=
SECRET=

# Cookie Configuration
COOKIE_DOMAIN=
COOKIE_SAME_SITE=
COOKIE_SECURE=

# All Secrets
AUTH_SECRET=
CSRF_SECRET=
CRYPTO_SECRET=

# CORS Configuration
ORIGIN_URL=
API_URL=
APP_URL=


# Google Configuration
GOOGLE_CLIENT_ID=

# Postgres Docker Configuration (Only for local development)
POSTGRES_USER="boilerplate"
POSTGRES_PASSWORD="boilerplate"
POSTGRES_DB="boilerplate"
POSTGRES_PORT="5544"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Brevo Configuration
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
